#babyduffinfo {
    background-color: rgb(159, 216, 216);
}

#babytitle {
    font-size: 60px;
    margin-bottom: 40px;
}

#babypic1 {
    float: left;
    width: 30%;
    margin-right: 1%;
}

#baby1 {
    width: 50%;
    margin-left: 400px;
    font-size: 30px;
    margin-top: 100px;
}

#babypic2 {
    margin-top: 160px;
    float: right;
    width: 30%;
}

#baby2 {
    width: 50%;
    margin-right: 400px;
    font-size: 30px;
    margin-top: 280px;
}

#babypic3 {
    width: 30%;
    float: left;
    padding-top: 200px;
}

#baby3 {
    width: 50%;
    font-size: 30px;
    margin-left: 300px;
    padding-top: 400px;
    margin-bottom: 300px;
}

